html {
  background: #181a1b;
  padding: 1em;
}
#tiny {
  size: 0px !important;
}
body {
  border: 5px dashed #eee;
  color: #fff;
  font: 3em/1.5 monospace;
  padding: 1em;
  width: 30em;
  margin: 0 auto;
}
body::after {
  content: "omg whatever you do don't curl https://funny.theash.xyz :flushed:";
}
